<!doctype html>
<html>

  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <script>
      $(function () {
        $('#button-click').on('click', function (evt) {
          $.ajax({
            url: '/update',
            type: 'POST',
            data: {key: 'button-click', value: '1'}
          }).done(function (data) {
            if (data.success) {
              console.log("data sent!")
              status("BUTTON SENT!")
            } else {
              status("BUTTON WAIT " + data.wait)
            }
          }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error("FAILED", jqXHR)
          });
        })

        // Update .
        $('#color-set-button').on('click', function (evt) {
          $.ajax({
            url: '/update',
            type: 'POST',
            data: {key: 'color-set', value: $('#color-set').val()}
          }).then(function (data) {
            if (data.success) {
              console.log("data sent!")
              status("COLOR SENT!")
            } else {
              status("COLOR WAIT " + data.wait)
            }
          }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error("FAILED", jqXHR)
          });
        })

        // Post status message, clear after a bit
        var status_timeout = null
        var status = function (message) {
          var time = new Date()
          $('.status').text(`[${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}] ${message}`)

          if (status_timeout) {
            clearTimeout(status_timeout);
          }

          status_timeout = setTimeout(function () {
            $('.status').text('')
          }, 5000)
        }

        // Poll IO to get current values for all the feeds we care about.
        var check_color = function() {
          $.ajax({
            url: '/check',
            data: {feeds: 'color-set'},
            type: 'GET'
          }).done(function (data) {
            if (data['color-set'] && data['color-set'].value) {
              var nextVal = data['color-set'].value

              if (nextVal !== $('#color-set').val()) {
                $('#color-set').val(nextVal)
                console.log('updated color-set input to', nextVal)
                status("UPDATED COLOR")
              }
            }
          })
        }

        setInterval(check_color, 60000)
        check_color()
      })
    </script>
  </head>

  <body>
    <h1>IO SAMPLE</h1>

    <p>
      <label>Send '1' to button-click feed:
        <button id='button-click'>
          Click!
        </button>
      </label>
    </p>

    <p>
      <label>
        Select Color:
        <input id='color-set' type='color' value=''/>
      </label>
      <button id='color-set-button'>Click to Update Color</button>
    </p>

    <p class='status' style='font-family:monospace'></p>
  </body>
</html>
